{% extends 'bored/layout.html' %}

{% block body %}
<div style="text-align: center; margin: 140px;">
   <h1>Never Be Bored Again</h1>
    <div class="card-body"> 
        <p style="font-size: 20px;" class="card-title"><strong>Idea: </strong>{{ activity }}</p>
        <p style="font-size: 20px;" class="card-text"><strong>Category: </strong>{{ category }}</p>
        <a style="font-size: 18px;" href="/" class="btn btn-primary">Idea</a>
    </div>
    <span style="text-align: center; font-size: 18px;"><em>bordom is a disease</em></span>
</div>
{% endblock %}